<footer>
  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/martin-klimt-4a089825a/ " target="_blank"><img
        src="assets/img/icons/linkedin.png" alt=""></a>
    <a href="https://www.xing.com/profile/Martin_Klimt/cv" target="_blank"> <img src="assets/img/icons/xing-logo.png"
        alt="">
    </a>
  </div>
  <div class="footer-rights">
    <span><a routerLink="/Impressum">Impressum</a></span>
    <span><a routerLink="/Datenschutz">Datenschutzerklärung</a> </span>
  </div>


</footer>