<div class="about-section" id="about">
  <h2>About</h2>
  <div class="about-text-wrapper">
    <div class="img-border">
      <img src="assets/img/profil_color.png">
    </div>
    <div class="text-right-wrapper">
      <span>Mein Name ist Martin Klimt, gebürtiger Sachse und 33 Jahre alt.
        PC und auch das Programmieren waren schon immer ein gewisser Teil meiner Freizeitbeschäftigung, daher war in
        mir immer schon der Anreiz vorhanden, mein Hobby zum Beruf zu machen.
        Nach etwa 2 Monaten Selbststudium im Bereich Javascript, Html, CSS, merkte ich sehr schnell, dass mir das
        Programmieren und Problemlösen mit Javascript sehr viel Spaß machte.
        Mein Entschluss stand fest im Mai 2022 eine professionelle Weiterbildung bei der Developerakademie GmbH zu
        starten,
        um meine erlenten Kenntnisse weiter zu verfeinern und zu verbessern.
        Durch kleine und große Projekte innerhalb der Weiterbildung,sowie in meiner Freizeit, und dem professionellen
        Feedback erfahrener
        Entwickler, konnte ich in kurzer Zeit viele Erfahrungen sammeln.
        Daher freue ich mich jetzt als angehender Junior-Entwickler meine Karriere in der IT-Branche zu starten.
      </span>

      <!-- <span><b>my name is Martin Klimt, I was born in Saxony and I am 32 years old. After my school days I started with
          an
          apprenticeship as a farmer, later I completed a second apprenticeship as an office clerk, in the course of my
          career I ended up in environmental analysis as a sampler and field worker.
          My tasks were the professional and appropriate taking of environmental samples and the coordination of the
          sampling team. Unfortunately, however, my last job didn't really fill me out anymore, since one of my hobbies
          has always been related to PCs and developing small scripts or modifications for games,
          I started to be interested in professional implementation as a developer. After about 2 months of self-study
          in
          the field of Javascript, Html, CSS, I quickly realized that programming and problem-solving with Javascript
          was
          a lot of fun.
          So I decided in May 2022 to start professional training at Developerakademie GmbH to further refine and
          improve
          my knowledge.
          Through small and large projects within the training and the professional feedback from experienced
          developers,
          I was able to gain a lot of experience in a short time.
          That's why I'm looking forward to starting my career in the IT industry as a prospective junior
          developer.</b></span> -->

      <a id="file" href='https://www.martinklimt.de/downloads/Martin-Klimt-Lebenslauf 2023.pdf'
        download="Martin-Klimt-Lebenslauf 2023.pdf" target="_blank">Download CV</a>

    </div>


  </div>

</div>