<div class="">
  <app-header *ngIf="!mobilModus"></app-header>
  <app-header-mobile *ngIf="mobilModus"></app-header-mobile>
  <router-outlet *ngIf="!mobilModus"></router-outlet>
  <mat-sidenav-container *ngIf="mobilModus">
    <mat-sidenav opened="{{opened}}" disableClose position="end">
      <nav>
        <a (click)="toogle()" href="#home">Home</a>
        <a (click)="toogle()" href="#skill">Skills</a>
        <a (click)="toogle()" href="#projects"> Projects</a>
        <a (click)="toogle()" href="#about">About me </a>
        <a (click)="toogle()" href="#contact">Contact</a>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- (clicked)="opened=$event" -->